.study {
  padding-top: 0px;
}

.study-div__list {
  display: flex;
  justify-content: space-between;
}

.study-div__title, .team-title {
  @include fonts(700, 36px, 0.85, 0.03em);
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.study-div__div {
  position: relative;
  display: flex;
  min-height: 70px;
}

.study-div__text {
  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  width: 100%;
  color: var(--secondary-text-color);
  min-height: 70px;
  @extend %aling-list;
  justify-content: center;
}